@import './colors';

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.10, 1.10, 1.10);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes sunrise {
  from {
    color: $dimmedWhite;
  }

  to {
    color: $orange;
  }
}

@keyframes backInUp {
  0% {
    transform: translateY(1200px) scale(0.7);
    opacity: 1;
  }

  100% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}

@keyframes backOutDown {
  0% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateY(1200px) scale(0.7);
    opacity: 1;
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }


  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
