@import 'styles/colors';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $darkCanvas;
  color: $dimmedWhite;
}

p {
	line-height: 1.4;
}

a {
	color: $dimmedWhite;
	border-bottom: 1px dotted $dimmedWhite;
	text-decoration: none;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
p::selection,
strong::selection {
	background: $lightOrange;
	color: $blackInk;
}

// .ribbon {
//   background-color: darken($orange,5);
//   overflow: hidden;
//   white-space: nowrap;
//   position: absolute;
//   left: -50px;
//   top: 40px;
//   -webkit-transform: rotate(-45deg);
//      -moz-transform: rotate(-45deg);
//       -ms-transform: rotate(-45deg);
//        -o-transform: rotate(-45deg);
//           transform: rotate(-45deg);
// }
// .ribbon a {
//   border: 1px solid lighten($lightOrange,20);
//   color: #fff;
//   display: block;
//   font: bold 81.25% "Helvetica Neue", Helvetica, Arial, sans-serif;
//   margin: 1px 0;
//   padding: 10px 50px;
//   text-align: center;
//   text-decoration: none;
// }

.ribbon {
  font-size: 100%;
  font-family: sans-serif;
  line-height: 1.2;
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
  --c-main: #351c75;
  --c-secondary: #e69138;
  --c-dark: #333;
  --c-background: #fce5cd;
  --c-background-dark: #f7d7b5;
  box-sizing: border-box;
  z-index: 100;
  width: 150px;
  height: 150px;
  transform: rotate(45deg);
  background-color: darken($darkCanvas, 5);
  top: -75px;
  left: -75px;
  position: absolute;
}

a.forkme {
	position: absolute;
	text-decoration: none;
	border: none;
	box-sizing: border-box;
	text-decoration: none;
	top: 12.5px;
	left: 12.5px;
	position: absolute;
	z-index: 105;
	opacity: .20;
	transition: opacity .5s;
}

a.forkme:hover {
	opacity: 1;
}

.forkme > svg {
	width: 38px;
}

.main {
	width: 960px;
	margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
	.main { width: 80%; }
}

.footer {
	font-size: 0.85em;
	width: 100%;
	background-color: $darkCanvas;
	margin-top: 12em;
}

.footer p {
	text-align: center;
	position: relative;
	padding: 1em;
}
