@import 'styles/colors';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $darkCanvas;
  color: $dimmedWhite;
}

p {
	line-height: 1.4;
}

a {
	color: $dimmedWhite;
	border-bottom: 1px dotted $dimmedWhite;
	text-decoration: none;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
p::selection,
strong::selection {
	background: $lightOrange;
	color: $blackInk;
}

.main {
	width: 960px;
	margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
	.main { width: 80%; }
}

.footer {
	font-size: 0.85em;
	width: 100%;
	background-color: $darkCanvas;
	margin-top: 12em;
}

.footer p {
	text-align: center;
	position: relative;
	padding: 1em;
}
